html {
    height: 100%;
}

body {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px;
    border: 1px solid #8a2121;
    box-sizing: border-box; /* Include padding and border in the total width */
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#upload-btn {
    margin-right: 10px;
}

#text-input {
    flex: 1;
    width: 100%;
}

#plus-btn {
    background-color: #4c53af;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

.content {
    width: 100%;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.readonly-text {
    flex: 1;
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.score-box {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
}
